.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

mat-icon {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}



.form-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

input {
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-label {
  font-size: 16px;
  margin-left: 10px;
}

button {
  background-color: #90c1d7; 
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  align-self: center;
}

button:hover {
  background-color: #90c1d7; 
  cursor: pointer;
}

.signup-link {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #90c1d7;
  text-decoration: underline;
}

.signup-link a:hover {
  cursor: pointer;
}


mat-checkbox {
  margin-bottom: 20px;
}


.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
