<div class="background"></div>
<head>
  <title>Email Verification Form</title>
</head>

<body>
  <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Verification</h4>
    <p>Enter the verification code we sent to your email</p>
    <form [formGroup]="otpForm" (ngSubmit)="otpconfirm()" novalidate>
      <div class="input-field">
        <input type="number" [ngClass]='{ "invalid-border": invalidOTP}' />
        <input type="number" [ngClass]='{ "invalid-border": invalidOTP}' disabled />
        <input type="number" [ngClass]='{ "invalid-border": invalidOTP}' disabled />
        <input type="number" [ngClass]='{ "invalid-border": invalidOTP}' disabled />
        <input type="number" [ngClass]='{ "invalid-border": invalidOTP}' disabled />
        <input type="number" [ngClass]='{ "invalid-border": invalidOTP}' disabled />
      </div>
      <small>
        Didn't get the verification code?
        <a class="text-decoration-none" type="button" (click)="resendOTP()">Resend</a>
      </small>
      <button type="submit" (click)="addShakeEffect()" class="active" [ngClass]="{ shake: otpForm.invalid, invalid: invalidOTP }">Verify</button>
    </form>
    <div *ngIf="invalidOTP">
      Wrong verification code, please recheck the code sent to your email or request another one.
    </div>
  </div>
</body>
