<div class="background"></div>
<head>
  <title>OTP Verification Form</title>
</head>

<body>
  <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>OTP VERIFICATION</h4>
    <p>Enter the verification code we sent to your email</p>
    <form action="#">
      <div class="input-field">
        <input type="number" />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
      </div>
      <small>
        Didn't get the OTP?
        <a href="#" class="text-decoration-none">Resend</a>
      </small>
      <button>Verify OTP</button>
    </form>
  </div>
</body>
