<mat-toolbar>
  <div class="nav-links">
    <span>
      <!-- <a routerLink="/" id="ope">  -->
        <img src="https://i.imgur.com/Lw8ysKv.png" alt="Logo" class="logo">
      <!-- </a> -->
    </span>
  </div>

  <span *ngIf="!isAuthenticated">
    <a class="navi" routerLink="/about"> 
      <span>About</span>
    </a>
  </span>

  <span *ngIf="!isAuthenticated">
    <a class="navi" routerLink="/how-it-works"> 
      <span>How it Works</span>
    </a>
  </span>

  <span *ngIf="!isAuthenticated">
    <a class="navi" routerLink="/contact"> 
      <span>Contact</span>
    </a>
  </span>

  
    <span class="link-group">
    <!-- <span>
      <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/savedeval"> 
        <span>Saved Product Evaluation</span>
      </a>
    </span>
    <span>
      <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/addprod"> 
        <span>Add New Product Eval</span>
      </a>
    </span> -->
    <span>
      <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login"> 
        <span>Login</span>
      </a>
    </span>
    <span>
      <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login"> 
        <span>Logout</span>
      </a>
    </span>
    <span>
      <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup"> 
        <span>Signup</span>
      </a>
    </span>
    </span>
</mat-toolbar>