mat-toolbar {
  background-color: rgba(149, 186, 212, 0.5);
  color: #000000;
}


#ope {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

/* span.flexExpand {
  flex: 1;
} */

.link-group {
  margin-left: auto;
}

a.navi{
  transform: translateX(-60%);
}

.logo{
  width: 220px;
  height: auto;
  transform: translate(-20%,-8%);
}


a {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600; 
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  height: 56px;
  min-width: 120px;
  font-family: Arial, sans-serif;
}

a:hover,
a.active-link {
  border-bottom: 3px solid #ffffff;
}