<div class="grid-container">
  <div id="logo-box" class="nav-links">
      <!-- <a routerLink="/" id="ope">  -->
        <img src="https://i.imgur.com/Lw8ysKv.png" alt="Logo" class="logo">
      <!-- </a> -->
  </div>

  <div id="menu" class="menu">
    <a class="navi about" routerLink="/about"> 
      <span>About</span>
    </a>

    <a class="navi how-it-works" routerLink="/how-it-works"> 
      <span>How it Works</span>
    </a>

    <a class="navi contact" routerLink="/contact"> 
      <span>Contact</span>
    </a>

    <a *ngIf="isAuthenticated" class="navi addprod" routerLink="/addprod"> 
      <span>Analyze</span>
    </a>
  </div>

  
  <div class="link-group">
    <!-- <span>
      <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/savedeval"> 
        <span>Saved Product Evaluation</span>
      </a>
    </span>
    <span>
      <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/addprod"> 
        <span>Add New Product Eval</span>
      </a>
    </span> -->

    <a class="login" *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login"> 
      <span>Login</span>
    </a>
    <a class="logout" *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login"> 
      <span>Logout</span>
    </a>
    <a class="signup" *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup"> 
      <span>Signup</span>
    </a>
  </div>
</div>