<mat-toolbar color="primary">
    <span>
        <a routerLink="/" id="ope"> 
            <span> OPE </span>
        </a>
    </span>
    <span class="flexExpand"></span>
    <span>
        <a routerLinkActive="active-link" routerLink="addprod"> 
            <span>Add New Product Eval</span>
        </a>
    </span>
    <span>
        <a routerLinkActive="active-link" routerLink="login"> 
            <span>Login</span>
        </a>
    </span>
    <span>
        <a routerLinkActive="active-link" routerLink="signup"> 
            <span>Signup</span>
        </a>
    </span>
</mat-toolbar>