<mat-card>
  <div class="background">
    <div class="logo"></div>
  </div>
  <div class="container">
    <div class="box">
      <h1 class="title">About MSIC</h1>
      <p>Welcome to our thesis software page! We are a group of students who have developed this software as part of our thesis project.</p>

      <h2 class="subtitle">About OPE</h2>
      <p>Our thesis software is designed to help buyers and sellers make informed decisions about products based on customer feedback. Using innovative approaches such as Naive Bayes and Aspect Extraction models, OPE analyzes customer reviews to identify the aspects that matter the most and the sentiment associated with each aspect.</p>

      <h2 class="subtitle">How it Works</h2>
      <p>We use Naive Bayes and Aspect Extraction models to analyze customer reviews of products. These models help us identify the aspects that customers care about the most and the sentiment associated with each aspect. Based on this information, we provide a comprehensive evaluation of the product that includes a breakdown of its strengths and weaknesses.</p>

      <h2 class="subtitle">Demo</h2>
      <p>Check out our software thesis in action <a href="demo.html">here</a>.</p>

      <h2 class="subtitle">Contact Us</h2>
      <p>If you have any questions or feedback about our software thesis, please don't hesitate to get in touch with us using the form below or send us an email at contact@thesisteam.com.</p>
      
    </div>
  </div>
</mat-card>
