<div class="background"></div>

<div id="main">
  <div id="prod-title">
      <h1>{{title}}</h1>
  </div>
  <div class="navbar">
    <h1 id="top-aspects-title">6 Most Mentioned Keywords:</h1>
    <nav>
      <ul>
        <li *ngFor="let aspect of top_aspects" (click)="onAspectClick(aspect)" [class.active]="currentAspect === aspect">{{aspect}}</li>
      </ul>
    </nav>
  </div>
  <div id="raw-sentiment-score" *ngIf="currentAspect">
    <div id="chart-section">
      <h1>{{ currentAspect | uppercase }}</h1>
      <h2>Summary of Product Reviews</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quae blanditiis facere laborum atque. Odit, porro mollitia cum cumque sequi repudiandae velit est accusantium, expedita sint quidem et numquam consequatur.</p>
      <div id="chart-breakdown">
        <div *ngFor="let pieChart of pieCharts | keyvalue">
          <div class="bar" *ngIf="pieChart.key === currentAspect" [chart]="pieChart.value"></div>
        </div>
        <div id="chart-frequency">
          <h2>How did we calculate the ratio?</h2>
          <p>
            We calculated the ratio by counting the number of times <span class="highlight">{{currentAspect}}</span> appeared in the positive reviews and negative reviews over the total number of reviews it appeared on. </p>
            <p>The number of times camera appeared on positive reviews is <span class="highlight">{{ posCount }}</span> and the number of times it appeared on negative reviews is <span class="highlight">{{ negCount }}</span> resulting in a total of <span class="highlight">{{ frequency }}</span>.
          </p>
          
          <!-- <table id="frequency-table">
            <tr>
              <td>Positive Reviews</td>
              <td>{{posCount}}</td>
            </tr>
            <tr>
              <td>Negative Reviews</td>
              <td>{{negCount}}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{frequency}}</td>
            </tr>
          </table> -->

          <h2>( {{posCount}} / {{frequency}} ) * 100 = {{posPercent}}</h2>
          <h2>( {{negCount}} / {{frequency}} ) * 100 = {{negPercent}}</h2>
        </div>
      </div>
      <div id="review_list" style="display: flex;">
        <div style="flex: 1; margin-right: 10px;">
          <h2>List of Positive Sentences</h2>
          <div id="aspect-breakdown-list">
            <table>
              <tr>
                <th>Sentence</th>
                <th>Sentiment</th>
              </tr>
              <tr *ngFor="let pos_aspect_phrase of pos_aspect_phrases">
                <td>{{ pos_aspect_phrase.sentence }}</td>
                <td>{{ pos_aspect_phrase.label }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div style="flex: 1; margin-left: 10px;">
          <h2>List of Negative Sentences</h2>
          <div id="aspect-breakdown-list">
            <table>
              <tr>
                <th>Sentence</th>
                <th>Sentiment</th>
              </tr>
              <tr *ngFor="let neg_aspect_phrase of neg_aspect_phrases">
                <td>{{ neg_aspect_phrase.sentence }}</td>
                <td>{{ neg_aspect_phrase.label }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      
  </div>
</div>