 body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.aspect-list {
  display: grid;
  grid-gap: 20px;
}

.review-section {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  color: #2e6e56;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #475577;
  margin-top: 20px;
  margin-bottom: 10px;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
}

.list-section {
  display: grid;
  grid-gap: 20px;
}

.data-container {
  white-space: pre-wrap;
  font-size: 14px;
  background-color: #f3f5f7;
  padding: 10px;
  border-radius: 5px
}

.list-section .item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .item,
  .list-section .item {
    padding: 10px;
  }
}   

td.center {
  padding: 10px;
  text-align: center;
}
