<div class="container">

      
  <div class="container" *ngIf="aspect_list">
    <div *ngFor="let item of items">
      <h2>{{ item[0] }}</h2>
      <h3>Positive Reviews:</h3>
      <div *ngFor="let value of item[1].Positive">
        <p>{{ value + '\n' }}</p>
      </div>
      <h3>Negative Reviews:</h3>
      <div *ngFor="let value of item[1].Negative">
        <p>{{ value + '\n' }}</p>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="bar" [chart]="onePieChart"></div>
      <div *ngFor="let aspect of aspects" class="bar" [chart]="aspectCharts[aspect]"></div>
    </div>

    <div class="container" *ngIf="list_sentences">
      <div class="container" *ngFor="let item of list_sentences | keyvalue">
        <h2>{{ item?.key }}</h2>
        <pre class="container">{{ item.value | json }}</pre>
      </div>
    </div>
    

  </div>