<mat-card>
    <div class="background">
      <div class="logo"></div>
    </div>
    <div class="container">
    
        <div class="hiw">
            <div class="box">
              <h1 class="title1">How it Works</h1>
              <p class="paragraph1">We use Naive Bayes and Aspect Extraction models to analyze customer reviews of products. These models help us identify the aspects that customers care about the most and the sentiment associated with each aspect. Based on this information, we provide a comprehensive evaluation of the product that includes a breakdown of its strengths and weaknesses.</p>
          </div>
        </div>

        <div class="box">
        <img src="https://i.imgur.com/LsqeOMP.gif" alt="programmer" class="imagee">
      </div>


        <div class="demo">
            <div class="box">
              <h1 class="title2">Demo</h1>
              <p class="paragraph2">Check out our software thesis in action:</p>
              <iframe class="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/ImT6T0YjVPc" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
  
    </div>
  </mat-card>