      .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../addprod/img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
      }

      body {
        font-family: 'Helvetica Neue', Arial, sans-serif; 
        font-size: 16px;
        line-height: 1.5;
        color: #333;
      }

      .instruction {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
        color: #333;
      }

      .instruction-card {
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 11px;
        position: absolute;
        top: 60px;
        right: 20px;
      }
      
      .instruction-title {
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left; 
      }
      
      .instruction-list {
        padding-left: 20px;
        list-style-type: disc; 
      }
      
      .instruction-list li {
        margin-bottom: 5px;
      }
      
      
      h1, h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
        font-family: 'Helvetica Neue', Arial, sans-serif; 
      }


      /* h1 {
        font-size: 36px;
        color: #333;
        text-align: left;
        margin-top: -10px;
      } */
      
      h2 {
        font-size: 24px;
        color: #444;
        margin-top: 20px;
        position: absolute;
        top: 60px;
        left: 20px;

      }
      
      p {
        margin-top: 0;
        margin-bottom: 20px;
        margin-top: 10px;
        font-family: 'Montserrat', Arial, sans-serif;
        position: absolute;
        top: 108px;
        left: 20px;
      }

      a {
      color: #3b5998;
      text-decoration: none;
      }

      label[for="review1"] {
        font-weight: bold;
        display: block;
        margin-top:100px; 
      }

      header {  
        color: #333;
        display: flex;
        justify-content: left; 
        padding: 10px;
        width: 100%;
      }
      
      header .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 30px; 
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
      }


      main {
      max-width: 800px;
      margin: 50px auto;
      padding: 40px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
      }

      .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin: 0 auto; 
        justify-items: center; 
      }

      .product {
        background-color: #eeeeee00;
        padding: 80px;
        border-radius: 5px;
        text-align: center;
        max-width: 300px;
        position: relative;
      }

      .product img {
        width: 400%;
        max-width: 500px;
        max-height: 500px;
        object-fit: contain;
        border-radius: 5px;
        display: block;
        margin: -10px auto 20px;
        transform: translateX(-18%);
        transition: opacity 0.3s ease-in-out;
      }

      .fade-in {
        opacity: 1;
        transition-duration: 0.3s;
      }
      
      .fade-out {
        transition-duration: 0.3s;
        opacity: 0;
      }

      .product h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: 'Montserrat', Arial, sans-serif;
      }
      
      form {
        max-width: 1000px; 
        margin: 0 auto;
      }
      
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }
      
      textarea {
        width: 380%;
        height: 100%;
        padding: 1px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        /* margin-bottom: 10px; */
        resize:none;
        transform: translateX(-35%);
      }

      
      .input-container {
        position: relative;
      }
      
      .textarea-container {
        display: flex;
        align-items: center;
      }
      
      .textarea-container textarea {
        width: 100%;
      }
      
      .icon {
        position: absolute;
        top: 105%;
        right: -143%;
        transform: translateY(-200%);
        cursor: pointer;
        color: #999;
        font-size: 20px;
      }
      
      .icon i {
        font-size: 18px;
      }
      
      .icon:hover {
        color: #333;
      }

      textarea::placeholder {
        color: #999;
        font-style: normal;
      }
      
      input[type="submit"] {
        background-color: #fd0fd0;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      input[type="submit"]:hover {
        background-color: #f1184e;
      }

      footer {
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        margin-top: 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
      }

      footer p {
        margin-top: 800px;
      }