<p>savedeval works!</p>
<button (click)="add()">Add Point!</button>

<main>

  <mat-card class="main-body">
    <h1>{{ title }}</h1>
    <div id="aspects-wordcloud" [chart]="wordcloud"></div>
    <p>Visualizing product reviews on a word cloud is a compelling and intuitive way to gain insights into customer sentiments and identify key themes or trends. 
        A word cloud is a graphical representation of text data, where the size of each word corresponds to its frequency or importance within the dataset.</p>


    <table id="aspect-table" mat-table [dataSource]="dataSource" class="demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef style="width: 50px;">Top#</th>
        <td mat-cell *matCellDef="let element" style="width: 50px;">{{element.position}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="aspect">
        <th mat-header-cell *matHeaderCellDef>Aspect</th>
        <td mat-cell *matCellDef="let element">{{element.aspect}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef>Frequency</th>
        <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="breakdown_aspect(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
          title="Click to show more information"
      ></tr>
    </table>

  </mat-card>


  <mat-card class="second main-body" *ngIf="showBreakdown">
    <h1>Aspect "{{ currentAspect }}" Breakdown</h1>
    <!-- Render Aspect Breakdown -->
    <ng-container *ngIf="breakdown">
      <div>
        
        <mat-card id="raw-sentiment-score">
          <div *ngFor="let pieChart of pieCharts | keyvalue">
            <div class="bar" *ngIf="pieChart.key === currentAspect" [chart]="pieChart.value"></div>
          </div>
        </mat-card>
        
        <div class="section1">
          <div class="sub-section">
            <h2>Most Positive Sentence</h2>
            <p class="sample-review positive-background">
              <ng-container *ngFor="let word of splitSentence(breakdown.Most_Positive_Sentence)">
                <!-- <span [ngStyle]="{'background-color': isPositiveWord(word) ? 'green' : 'transparent'}">{{ word }}</span> -->
                <span [ngClass]="{'block-positive': isPositiveWord(word)}">{{ word }}</span>
              </ng-container>
            </p>
          </div>

          <div class="sub-section">
            <h2>Most Negative Sentence</h2>
            <p class="sample-review negative-background">
              <ng-container *ngFor="let word of splitSentence(breakdown.Most_Negative_Sentence)">
                <!-- <span [ngStyle]="{'background-color': isNegativeWord(word) ? 'red' : 'transparent'}">{{ word }}</span> -->
                <span [ngClass]="{'block-negative': isNegativeWord(word)}">{{ word }}</span>
              </ng-container>
            </p>
          </div>
        </div>

        <div>
          <h2>Word with the highest positive probability:</h2>
          <h4>"{{ breakdown.Positive_Word }}"</h4>
          <h2>Word with the highest negative probability:</h2>
          <h4>"{{ breakdown.Negative_Word }}"</h4>
          <h2>Normalized Sentiment Score: </h2>
          <h4>Sentiment: {{ breakdown.Normalized_Sentiment }} | Probability: {{ breakdown.Normalized_Proba }}</h4>
          <br>
          <h2>Explanation:</h2>
          <p>
            The raw sentiment score is a method for calculating sentiment by counting the frequency of the aspect in positive and negative sentences. On the other hand, the normalized sentiment score is a value between -1 and 1, where -1 is the most negative sentiment and 1 is the most positive sentiment. It is calculated by computing for the average probability of both the positive and negative sentences that contain the aspect. If the average of the positive is greater than the average of the negative, then the aspect is considered positive. Otherwise, it is considered negative.
          </p>
          <!-- <h2>Normalized Probability: {{ breakdown.Normalized_Proba }}</h2>
          <h2>Normalized Sentiment: {{ breakdown.Normalized_Sentiment }}</h2> -->
        </div>
        
        <!-- Table for showing each sentence or phrase for the aspect -->
        <div>
          <h2>List of Reviews with {{ currentAspect }} aspect</h2>
          <div id="aspect-breakdown-list">
            <table>
              <tr>
                <th>#</th>
                <th>Phrases</th>
                <th>Sentiment</th>
              </tr>
              <tr *ngFor="let phrase of aspect_phrases[currentAspect]; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ phrase }}</td>
                <td>C=</td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </ng-container>
  </mat-card>



</main>



